@page "{reference}"
@model OrderModel
@{}

<div>
    <h2>@Model.Order.OrderRef</h2>

    @foreach (var product in @Model.Order.Products)
    {
        <div>
            @product.Name - @product.Description - @product.Quantity - @product.Value
        </div>
    }
</div>